* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 500;
  font-family: 'Helvetica' , sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.block-news {
  background-color: rgb(0 0 0 / 80%);
  display: flex;
  gap: 10px;
  flex-direction: column;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 8px;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px 20px;
  box-shadow: 1px 1px 4px 11px rgb(0 0 0 / 8%);
  transition: 1s;
  color: white;

  &:hover {
    transition: 500;
    color: white;
    background-color: rgba(15, 15, 15, 0.596);
  }
}

.gif-loading {
  position: fixed;
  width: 300px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment__text {
  color: #af7628;
}

.only-news__text {
  color: #ffa52a;
}

.only-news {
  font-size: 18px;
  color: white;
  word-break: break-all;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.78);
  border: 1px solid rgb(255, 255, 255);
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 10px 15px;
}

body {
  background-image: url("./bg-hacker.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.Main {
  max-width: 1440px;
  //min-height: 1080px;
  padding: 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}

.gif-block {
  display: flex;
  justify-content: center;
}

.personal-page {
  overflow: hidden;
  display: flex;
  min-height: auto;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.personal-page__buttons {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.comment {
  //border: 1px solid white;
  //border-radius: 8px;
  padding: 2px;
  //background-color: black;
}

.comment__by {
  color: #b3b3b3;
  font-size: 16px;
}

.comment__show-more {
  padding: 10px 25px;
  border: none;
  background-color: #323232;
  color: white;
  margin: 10px 0;
  transition: 200ms;

  &:hover {
    transition: 400ms;
    cursor: pointer;
    background-color: #464545;
  }
}

.hidden {
  display: none;
}

.comment-kid {
  position: relative;
}

.btn-toUp {
  position: fixed;
  top: 4%;
  left: 2%;
  padding: 10px 25px;
  background-color: #000000;
  transition: 200ms;
  border: 1px solid white;
  color: white;

  &:hover {
    transition: 400ms;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    color: black;
    background-color: #ffffff;
  }
}

.personal-page__btn {
  @extend .btn-toUp;
  position: static;
  padding: 10px 30px;
}

.btn-main {
  @extend .btn-toUp;
  right: 2%;
  top: 20px;
  position: fixed;
  padding: 10px 10px;
  left: auto;
}

.gif__loading-page {
  width: 300px;
  text-align: center;
}

.gif__block {
  text-align: center;
}

@media (max-width: 1200px) {
  .Main {
    padding: 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .btn-main {
    right: 0;
  }
}

@media (max-width: 900px) {
  .btn-main,
  .btn-toUp {
    display: none;
  }
}

@media (max-width: 660px) {
  .Main {
    padding: 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: 300px;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
  }
}
